body
{
    color:white;
    background-color: black;
}

#middle
{
    background-color: darkred;
    border-radius: 25px;
}

#middle2
{
    background-color: darkred;
    border-radius: 25px;
}